<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title><%-title%></title>
  <meta name="description" content="더퀴즈라이브 - <%-description%>">
  <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
  <meta property="og:locale" content="ko-KR"/>
  <meta property="og:locale:alternate" content="ko_KR"/>
  <meta property="og:locale:alternate" content="ja_JP"/>
  <meta property="og:locale:alternate" content="en_US"/>
  <meta property="og:title" content="<%-title%>"/>
  <meta property="og:type" content="website"/>
  <meta property="og:description" content="더퀴즈라이브 - <%-description%>"/>
  <meta property="og:image" content="<%-imageUrl%>"/>
  <meta property="og:url" content="<%-fullpath%>"/>

  <meta property="al:android:app_name" content="TheQuizLive"/>
  <meta property="al:android:package" content="com.nbt.lockcast.qiz"/>
  <meta property="al:android:url" content="qiz://lockcast/main/live"/>
  <meta property="al:ios:app_name" content="TheQuizLive"/>
  <meta property="al:ios:app_store_id" content="1274326322"/>
  <meta property="al:ios:url" content="qiz://lockcast/main/live"/>

  <meta name="twitter:card" content="app">
  <meta name="twitter:description" content="TheQuizLive">
  <meta name="twitter:app:name:googleplay" content="TheQuizLive">
  <meta name="twitter:app:id:googleplay" content="com.nbt.lockcast.qiz">
  <meta name="twitter:app:url:googleplay" content="https://play.google.com/store/apps/details?id=com.nbt.lockcast.qiz&referrer=from_code%3Dlive_hp">
  <meta name="twitter:app:name:iphone" content="TheQuizLive">
  <meta name="twitter:app:id:iphone" content="1274326322">
  <meta name="twitter:app:url:iphone" content="https://itunes.apple.com/kr/app/id1274326322">
  <meta name="twitter:app:name:ipad" content="TheQuizLive">
  <meta name="twitter:app:id:ipad" content="1274326322">
  <meta name="twitter:app:url:ipad" content="https://itunes.apple.com/kr/app/id1274326322">

  <link href="https://www.thequiz.live/images/favicon.ico" rel="shortcut icon">
  <link href="https://www.thequiz.live/images/favicon.ico" rel="apple-touch-icon">

  <style>
    @import url(//fonts.googleapis.com/earlyaccess/notosansgothic.css);
    body,
    html {
      font-family: 'Noto Sans Gothic', sans-serif;
      margin: 0;
      padding: 0
    }

    #container,
    body {
      background-color: #212121
    }

    html {
      height: 100%
    }

    .detail,
    .video-box {
      height: 700px
    }

    body {
      min-width: 820px;
      max-height: 100%
    }

    .content-body,
    .download,
    .user-info {
      padding: 20px 30px
    }

    #container {
      width: 100%
    }

    .content {
      width: 900px;
      margin: 0 auto
    }

    .logo {
      margin: 25px 0
    }

    .fl {
      float: left
    }

    .inline {
      display: inline-block
    }

    .video-box {
      width: 400px;
      position: relative;
      overflow: hidden
    }

    .play-btn,
    .player {
      cursor: pointer;
      position: absolute;
      top: 50%
    }

    .disabled {
      display: none
    }

    .thumbnail {
      width: 100%;
      height: 100%;
      cursor: pointer
    }

    .info-box {
      width: 500px;
      height: 700px;
      background-color: #10101c
    }

    .play-btn {
      width: 120px;
      height: 120px;
      background: url(https://s3.ap-northeast-2.amazonaws.com/alock-cdn-origin/qiz/contents/share/play_button.png) center center no-repeat;
      left: 50%;
      margin-left: -60px;
      margin-top: -60px;
      z-index: 999
    }

    .avatar {
      vertical-align: top
    }

    .avatar img {
      width: 70px;
      height: 70px;
      border-radius: 50%
    }

    .user {
      color: #fff;
      margin-top: 5px;
      margin-left: 10px;
      font-size: 14px
    }

    .referrer,
    .winner {
      margin-top: 4px
    }

    .referrer {
      color: #777;
      font-size: 13px
    }

    .content-body {
      color: #fff;
      height: 263px
    }

    .download {
      width: 380px;
      height: 247px
    }

    .description {
      padding: 20px 0;
      color: #fff;
      border-top: rgba(255, 255, 255, .06) 1px solid
    }

    .qrcode {
      float: right;
      width: 140px;
      height: 140px;
      background-size: 100% 100%;
      background-image: url(https://s3.ap-northeast-2.amazonaws.com/alock-cdn-origin/qiz/contents/share/qrcode.png)
    }

    .download-link {
      background-repeat: no-repeat;
      background-size: contain;
      background-position: top center;
      cursor: pointer;
      width: 185px;
      height: 80px
    }

    #android {
      background-image: url(https://s3.ap-northeast-2.amazonaws.com/alock-cdn-origin/qiz/contents/share/googleplay.png)
    }

    #iphone {
      background-image: url(https://s3.ap-northeast-2.amazonaws.com/alock-cdn-origin/qiz/contents/share/appstore.png)
    }

    .player {
      left: 0;
      transform: translate(0, -50%);
      object-fit: cover
    }
  </style>
</head>
<body>
  <span style="color: #fff;"><%- req.protocol %>://<%- req.hostname %><%- req.port ? ':' + req.port : '' %><%- req.path %></span>
  <div id="container">
    <div class="content">
      <div class="logo">
        <img src="https://s3.ap-northeast-2.amazonaws.com/alock-cdn-origin/qiz/contents/share/logo.png">
      </div>

      <div class="detail">
        <div class="video-box fl">
          <img class="thumbnail playstart" src="<%-imageUrl%>">
          <div class="play-btn playstart"></div>
        </div>
        <div class="info-box fl">
          <div class="user-info">
            <!-- <div class="avatar inline">
              <img src="https://alock-image.cashslide.kr/qiz/pic/4/profile_120.webp">
            </div> -->
            <div class="user inline">
              <div><%= nickname %></div>
              <div class="referrer">추천인코드 <b><%= referrer %></b></div>
            </div>
          </div>

          <div class="content-body">#라이브퀴즈쇼 #더퀴즈라이브 #<%- nickname %> #<%- referrer %></div>

          <div class="download">
            <p class="description">대한민국 넘버원 퀴즈쇼! 지금 바로 참여해보세요.</p>
            <div class="qrcode"></div>
            <a href="https://play.google.com/store/apps/details?id=com.nbt.lockcast.qiz&amp;referrer=from_code%3Dlive_hp"
              target="_blank">
              <div class="download-link" id="android"></div>
            </a>
            <a href="https://itunes.apple.com/kr/app/id1274326322" target="_blank">
              <div class="download-link" id="iphone"></div>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <script src="https://akamai-cdn.cashslide.kr/jquery-1.9.1.min.js"></script>
  <script>
  $(document).ready(function () {
    var player;

    var videoHtmlTemplate = '<div class="play-btn play disabled"></div>'+
        ' <video playsinline class="player"' +
        ' src="<%-videoUrl%>"' +
        ' poster="<%-imageUrl%>"' +
        ' type="video/mp4" style="width: 100%;"></video>';

    var togglePlayButton = function(isHide) {
      $('.play-btn')[isHide ? 'removeClass' : 'addClass']('disabled');
      if (player) isHide ? player.pause() : player.play();
    };

    var onPlayerEnded = function() {
      togglePlayButton(true)
    };

    var onPlayerClicked = function () {
      if (player.paused) togglePlayButton(false);
      else togglePlayButton(true);
    };

    var onPlayStartInitialized = function () {
      player = $('.player')[0];
      player.play();

      $('.player').click(onPlayerClicked)
      $('.play').click(onPlayerClicked)
      $('.player').on('ended', onPlayerEnded)
    };

    var onPlayStartButtonClicked = function () {
      togglePlayButton(false);
      $('.video-box').html(videoHtmlTemplate).promise().done(onPlayStartInitialized);
    };

    $('.playstart').click(onPlayStartButtonClicked);
  });
  </script>
</body>
</html>
